In [196]:
import pandas as pd
import os

In [197]:
#pd.readexcel('Coordinate.xls')
PATH='/home/usuario/Desktop/Bcëo/Tesis/DATA/PQRS_20219050013802'
INFO=os.listdir(PATH)
A=[i.replace('.data','') for i in INFO]
DATA=[i.split('@') for i in A]
Variables={'BSHG_CON':'Solar Brightness' ,
'TSSM_CON': 'Temperature',
'VVAG_CON':'Wind speed',
'PTPM_CON_INTER' :'Precipitation',
'EVTE_CON':'Evapotranspiration'}

DATA=pd.DataFrame(DATA)
DATA.columns=['VarId','Station']
V=list(Variables.keys())

# Se corre una vez y ya

In [3]:

delim='|'
A=[];B=[]
for i in INFO:
    YEARS=pd.read_csv(PATH+'/'+i,sep=delim,engine='python',parse_dates=['Fecha'])
    YEARS.columns
    YEARS['year'] = pd.DatetimeIndex(YEARS['Fecha']).year
    A.append(YEARS['year'][0])
    B.append(list(YEARS['year'])[-1])

In [140]:

Path2='/home/usuario/Desktop/Bcëo/Tesis/DATA/'
DATA['First year']=A
DATA['Last year']=B
DATA.drop_duplicates()
DATA.index=DATA['Station']
DATA.to_excel(Path2+'DATA.xls')

NameError: name 'B' is not defined

# Haciendo listas d variables con un valor minimo en años

Minimum year

In [234]:
MIN_YEAR=0
DATA=pd.read_excel('/home/usuario/Desktop/Bcëo/Tesis/DATA/DataProcessing/DATA.xls')
PS='/home/usuario/Desktop/Bcëo/Tesis/DATA/DataProcessing/'#path stations ideam
STATIONS=pd.read_excel(PS+'STATIONS_IDEAM.xls')
STATIONS.index=STATIONS['Station']
DATA.index=DATA['Station']

## Generating CVS with coordinates to make the maps

In [236]:
for i in V:
    a=DATA[(DATA['Last year']>MIN_YEAR) & (DATA['VarId']==i)] 
    a=STATIONS.loc[a.index][['latitud','longitud']]
    a.to_csv(PS+'Coordinates'+i+'.csv')

In [200]:
Coord_Stati_WIND=STATIONS.loc[STATIONS_WIND.index][['altitud','longitud']]
Coord_Stati_TEMP=STATIONS.loc[STATIONS_TEMP.index][['altitud','longitud']]
Coord_Stati_PPT=STATIONS.loc[STATIONS_PPT.index][['altitud','longitud']]
Coord_Stati_EVA=STATIONS.loc[STATIONS_EVA.index][['altitud','longitud']]
Coord_Stati_BRI=STATIONS.loc[STATIONS_BRI.index][['altitud','longitud']]

In [201]:
Coord_Stati_BRI

     altitud   longitud
0       2582 -77.661978
27      1700 -77.221667
43        31 -74.517306
44        30 -74.512222
69       227 -76.651500
..       ...        ...
858      475 -75.833333
889      350 -71.745028
894     1100 -72.616667
905     2210 -75.133333
924      118 -74.082500

[68 rows x 2 columns]